<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sh.shop.persistence.HtmlPageMapper" >
  <resultMap id="BaseResultMap" type="com.sh.shop.domain.HtmlPage" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="CATEGORY_ID" property="categoryId" jdbcType="DECIMAL" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="WRITER" property="writer" jdbcType="VARCHAR" />
    <result column="READ_COUNT" property="readCount" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="DATE" />
    <result column="REMOVE_TIME" property="removeTime" jdbcType="DATE" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.sh.shop.domain.HtmlPage" extends="BaseResultMap" >
    <result column="CONTENT" property="content" jdbcType="CLOB" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, CATEGORY_ID, TITLE, WRITER, READ_COUNT, CREATE_TIME, REMOVE_TIME
  </sql>
  <sql id="Blob_Column_List" >
    CONTENT
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.sh.shop.domain.HtmlPageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from HTML_PAGE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sh.shop.domain.HtmlPageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from HTML_PAGE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from HTML_PAGE
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from HTML_PAGE
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.sh.shop.domain.HtmlPageExample" >
    delete from HTML_PAGE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sh.shop.domain.HtmlPage" >
    insert into HTML_PAGE (ID, CATEGORY_ID, TITLE, 
      WRITER, READ_COUNT, CREATE_TIME, 
      REMOVE_TIME, CONTENT)
    values (#{id,jdbcType=DECIMAL}, #{categoryId,jdbcType=DECIMAL}, #{title,jdbcType=VARCHAR}, 
      #{writer,jdbcType=VARCHAR}, #{readCount,jdbcType=DECIMAL}, #{createTime,jdbcType=DATE}, 
      #{removeTime,jdbcType=DATE}, #{content,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.sh.shop.domain.HtmlPage" >
    insert into HTML_PAGE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="categoryId != null" >
        CATEGORY_ID,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="writer != null" >
        WRITER,
      </if>
      <if test="readCount != null" >
        READ_COUNT,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="removeTime != null" >
        REMOVE_TIME,
      </if>
      <if test="content != null" >
        CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=DECIMAL},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="writer != null" >
        #{writer,jdbcType=VARCHAR},
      </if>
      <if test="readCount != null" >
        #{readCount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="removeTime != null" >
        #{removeTime,jdbcType=DATE},
      </if>
      <if test="content != null" >
        #{content,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sh.shop.domain.HtmlPageExample" resultType="java.lang.Integer" >
    select count(*) from HTML_PAGE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update HTML_PAGE
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.categoryId != null" >
        CATEGORY_ID = #{record.categoryId,jdbcType=DECIMAL},
      </if>
      <if test="record.title != null" >
        TITLE = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.writer != null" >
        WRITER = #{record.writer,jdbcType=VARCHAR},
      </if>
      <if test="record.readCount != null" >
        READ_COUNT = #{record.readCount,jdbcType=DECIMAL},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=DATE},
      </if>
      <if test="record.removeTime != null" >
        REMOVE_TIME = #{record.removeTime,jdbcType=DATE},
      </if>
      <if test="record.content != null" >
        CONTENT = #{record.content,jdbcType=CLOB},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update HTML_PAGE
    set ID = #{record.id,jdbcType=DECIMAL},
      CATEGORY_ID = #{record.categoryId,jdbcType=DECIMAL},
      TITLE = #{record.title,jdbcType=VARCHAR},
      WRITER = #{record.writer,jdbcType=VARCHAR},
      READ_COUNT = #{record.readCount,jdbcType=DECIMAL},
      CREATE_TIME = #{record.createTime,jdbcType=DATE},
      REMOVE_TIME = #{record.removeTime,jdbcType=DATE},
      CONTENT = #{record.content,jdbcType=CLOB}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update HTML_PAGE
    set ID = #{record.id,jdbcType=DECIMAL},
      CATEGORY_ID = #{record.categoryId,jdbcType=DECIMAL},
      TITLE = #{record.title,jdbcType=VARCHAR},
      WRITER = #{record.writer,jdbcType=VARCHAR},
      READ_COUNT = #{record.readCount,jdbcType=DECIMAL},
      CREATE_TIME = #{record.createTime,jdbcType=DATE},
      REMOVE_TIME = #{record.removeTime,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sh.shop.domain.HtmlPage" >
    update HTML_PAGE
    <set >
      <if test="categoryId != null" >
        CATEGORY_ID = #{categoryId,jdbcType=DECIMAL},
      </if>
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="writer != null" >
        WRITER = #{writer,jdbcType=VARCHAR},
      </if>
      <if test="readCount != null" >
        READ_COUNT = #{readCount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=DATE},
      </if>
      <if test="removeTime != null" >
        REMOVE_TIME = #{removeTime,jdbcType=DATE},
      </if>
      <if test="content != null" >
        CONTENT = #{content,jdbcType=CLOB},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.sh.shop.domain.HtmlPage" >
    update HTML_PAGE
    set CATEGORY_ID = #{categoryId,jdbcType=DECIMAL},
      TITLE = #{title,jdbcType=VARCHAR},
      WRITER = #{writer,jdbcType=VARCHAR},
      READ_COUNT = #{readCount,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=DATE},
      REMOVE_TIME = #{removeTime,jdbcType=DATE},
      CONTENT = #{content,jdbcType=CLOB}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sh.shop.domain.HtmlPage" >
    update HTML_PAGE
    set CATEGORY_ID = #{categoryId,jdbcType=DECIMAL},
      TITLE = #{title,jdbcType=VARCHAR},
      WRITER = #{writer,jdbcType=VARCHAR},
      READ_COUNT = #{readCount,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=DATE},
      REMOVE_TIME = #{removeTime,jdbcType=DATE}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <select resultMap="ResultMapWithBLOBs" parameterType="com.sh.shop.domain.HtmlPageExample" id="selectByExampleWithBLOBsWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from HTML_PAGE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select resultMap="BaseResultMap" parameterType="com.sh.shop.domain.HtmlPageExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from HTML_PAGE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>