<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sh.shop.persistence.OrdersMapper" >
  <resultMap id="BaseResultMap" type="com.sh.shop.domain.Orders" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="TOTAL_PRICE" property="totalPrice" jdbcType="DECIMAL" />
    <result column="ORDER_DATE" property="orderDate" jdbcType="DATE" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
    <result column="MEMBER_EMAIL" property="memberEmail" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="CartMap" type="com.sh.shop.domain.Cart" >
    <result column="MAIN_IMG" property="mainImg" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="ORDER_PRICE" property="orderPrice" jdbcType="DECIMAL" />
    <result column="QUANTITY" property="quantity" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, TOTAL_PRICE, ORDER_DATE, STATE, MEMBER_EMAIL
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sh.shop.domain.OrdersExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ORDERS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from ORDERS
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <select id="selectCartsByOrdersKey" resultMap="CartMap" parameterType="java.math.BigDecimal">
    	select p.MAIN_IMG, p.NAME, po.ORDER_PRICE, po.QUANTITY 
    	from product p, PRODUCT_ORDERS po 
    	where po.ORDERS_ID = #{id,jdbcType=DECIMAL} and po.PRODUCT_ID = p.id 
  </select>
  <select id="selectCartsByMemberEmail" resultMap="CartMap" parameterType="java.lang.String">
	select p.MAIN_IMG, p.NAME, po.ORDER_PRICE, po.QUANTITY, o.STATE 
	from product p, MEMBER m, ORDERS o, PRODUCT_ORDERS po
	where m.email = #{email,jdbcType=VARCHAR}
	and o.STATE = '장바구니'
	and o.MEMBER_EMAIL = m.EMAIL
	and po.ORDERS_ID = o.ID
	and po.PRODUCT_ID = p.ID
  </select>
  <select id="selectPurchaseListByMemberEmail" resultMap="CartMap" parameterType="java.lang.String">
	select p.MAIN_IMG, p.NAME, po.ORDER_PRICE, po.QUANTITY, o.STATE 
	from product p, MEMBER m, ORDERS o, PRODUCT_ORDERS po
	where m.email = #{email,jdbcType=VARCHAR}
	and o.STATE != '장바구니'
	and o.MEMBER_EMAIL = m.EMAIL
	and po.ORDERS_ID = o.ID
	and po.PRODUCT_ID = p.ID
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from ORDERS
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.sh.shop.domain.OrdersExample" >
    delete from ORDERS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sh.shop.domain.Orders" >
    insert into ORDERS (ID, TOTAL_PRICE, ORDER_DATE, 
      STATE, MEMBER_EMAIL)
    values (#{id,jdbcType=DECIMAL}, #{totalPrice,jdbcType=DECIMAL}, #{orderDate,jdbcType=DATE}, 
      #{state,jdbcType=VARCHAR}, #{memberEmail,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sh.shop.domain.Orders">
    insert into ORDERS
    <trim prefix="(" suffix=")" suffixOverrides="," >
        ID,
      <if test="totalPrice != null" >
        TOTAL_PRICE,
      </if>
      <if test="orderDate != null" >
        ORDER_DATE,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="memberEmail != null" >
        MEMBER_EMAIL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="id == null" >
      	SEQ_ORDERS.NEXTVAL,
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="orderDate != null" >
        #{orderDate,jdbcType=DATE},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="memberEmail != null" >
        #{memberEmail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sh.shop.domain.OrdersExample" resultType="java.lang.Integer" >
    select count(*) from ORDERS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ORDERS
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.totalPrice != null" >
        TOTAL_PRICE = #{record.totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.orderDate != null" >
        ORDER_DATE = #{record.orderDate,jdbcType=DATE},
      </if>
      <if test="record.state != null" >
        STATE = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.memberEmail != null" >
        MEMBER_EMAIL = #{record.memberEmail,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ORDERS
    set ID = #{record.id,jdbcType=DECIMAL},
      TOTAL_PRICE = #{record.totalPrice,jdbcType=DECIMAL},
      ORDER_DATE = #{record.orderDate,jdbcType=DATE},
      STATE = #{record.state,jdbcType=VARCHAR},
      MEMBER_EMAIL = #{record.memberEmail,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sh.shop.domain.Orders" >
    update ORDERS
    <set >
      <if test="totalPrice != null" >
        TOTAL_PRICE = #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="orderDate != null" >
        ORDER_DATE = #{orderDate,jdbcType=DATE},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="memberEmail != null" >
        MEMBER_EMAIL = #{memberEmail,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sh.shop.domain.Orders" >
    update ORDERS
    set TOTAL_PRICE = #{totalPrice,jdbcType=DECIMAL},
      ORDER_DATE = #{orderDate,jdbcType=DATE},
      STATE = #{state,jdbcType=VARCHAR},
      MEMBER_EMAIL = #{memberEmail,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.sh.shop.domain.OrdersExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ORDERS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>